.social {
  padding-bottom: 85px
}
.social__container {
  @include flex-all-sb;
  @include lg {
    flex-direction: column-reverse;
  }
}

.social__content {
  @include lg {
    text-align: center;
  }
}
.social__title {
  font-family: $font-family2;
  font-size: 32px;
  color: $dark-color;
  margin-bottom: 40px;
}
.social__subtitle {
  font-family: $font-family1;
  color: $accent-color;
  font-size: 16px;
  margin-bottom: 110px;
  @include lg {
    margin-bottom: 50px;
  }
}

.social__items {
  @include flex-v-center;
  @include lg {
    justify-content: center;
  }
}

.social__link:not(:last-child) {
  margin-right: 20px;
}

.social__pictures {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.social__img-one, .social__img-two {
  grid-column: 1;
  @include xs {
    display: none;
  }
}

.social__img-three {
  grid-column: 2;
  grid-row: 1 / span 3;
}
