/* stylelint-disable */
@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: #{$font-family};
    src: url('#{$font-path}.eot');
    src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}.woff2') format('woff2'),
         url('#{$font-path}.woff') format('woff'),
         url('#{$font-path}.ttf') format('truetype'),
         url('#{$font-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
