<div class="about">
  <div class="about__container container">
    <div class="about__slider">
      <div class="slider swiper">
        <div class="slider__wrapper swiper-wrapper">
          <div class="slider__slide swiper-slide">
            <img src="../img/about/banner.jpg" alt="">
          </div>
          <div class="slider__slide swiper-slide">
            <img src="../img/about/banner.jpg" alt="">
          </div>
          <div class="slider__slide swiper-slide">
            <img src="../img/about/banner.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="slider__buttons">
        <button class="slider__prev">
          <svg class="slider__icon-arrow left" width="10" height="12 " viewBox="0 0 7 12" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 11L6 6L1 1" stroke="#1B1A17" stroke-width="1.0" />
          </svg>
        </button>
        <div class="slider__num">1</div>
        <button class="slider__next">
          <svg class="slider__icon-arrow right" width="10" height="12" viewBox="0 0 7 12" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 11L6 6L1 1" stroke="#1B1A17" stroke-width="1.0" />
          </svg>
        </button>
      </div>


    </div>
    <div class="about__content">
      <h2 class="about__title">
        Справжня якість
      </h2>
      <p class="about__subtitle">
        Всі годинники виробляються в Швейцарії та мають сертифікати якості. Справжній
        швейцарський годинник — це предмет
        гордості та престижу.
      </p>
      <div class="about__actions">
        <a class="about__link" href="#!">
          ДИВИТИСЯ КАТАЛОГ
        </a>
      </div>
    </div>
  </div>
</div>
