<div class="choice" id="choice">
  <div class="choice__container container">
    <h2 class="choice__title">Популярні моделі</h2>
    <div class="choice__item">
      <a class="choice__link" href="#!">Дивитися все</a>
    </div>
    <div class="choice__wrapp">
      <div class="choice__card">
        <h3 class="choice__logo">RADO</h3>
        <p class="choice__price">63 300 ₴</p>
        <div class="choice__img">
          <img src="../img/choice/rado.png" alt="RADO-WATCH">
        </div>
        <p class="choice__subtitle">Детальніше</p>
      </div>
      <div class="choice__card">
        <h3 class="choice__logo">BVLGARI</h3>
        <p class="choice__price">63 300 ₴</p>
        <div class="choice__img">
          <img src="../img/choice/bvlgari.png" alt="BVLGARI-WATCH">
        </div>
        <p class="choice__subtitle">Детальніше</p>
      </div>
      <div class="choice__card">
        <h3 class="choice__logo">BVLGARI</h3>
        <p class="choice__price">63 300 ₴</p>
        <div class="choice__img">
          <img src="../img/choice/bvlgari2.png" alt="BVLGARI-BLACK-WATCH">
        </div>
        <p class="choice__subtitle">Детальніше</p>
      </div>
    </div>
  </div>
</div>
