<header class="header @headerMain">
  <div class="header__container container">
    <div class="header__nav">
      <img class="header__logo" src="../img/header/logo.png" alt="Indium Technologies">
      <ul class="header__items">
        <li class="header__list @headerIndent"><a href="#!" class="header__link">Home</a></li>
        <li class="header__list @headerIndent"><a href="#!" class="header__link">About Us</a></li>
        <li class="header__list @headerIndent"><a href="#!" class="header__link">Services</a></li>
        <li class="header__list @headerIndent"><a href="#!" class="header__link">Careers</a></li>
        <li class="header__list @headerIndent"><a href="#!" class="header__link btn-red">CONTACT US</a></li>
      </ul>
      <div class="header__burger burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
