<div class="hero" id="katalog">
  <div class="hero__container container">
    <div class="hero__info">
      <h1 class="hero__title">Весна/Літо 2023 <br> Колекція</h1>
      <p class="hero__subtitle">Швейцарський годинник у наявності в <br> Київі <br>
      та з доставкою по всьому світу.</p>
      <a class="hero__link" href="#!" >ДИВИТИСЯ КАТАЛОГ</a>
    </div>
    <div class="hero__article">
      <p class="hero__price-left">22 000 ₴</p>
      <div class="hero__img">
        <img src="../img/header/watch_header.png" alt="Watch">
      </div>
      <p class="hero__price">28 мм діаметр </p>
    </div>
  </div>
</div>
