
  // base
  $font-family-1: "Open Sans", sans-serif;
  $font-family-2: "Mulish", sans-serif;
  $content-width: 1360px;
  $container-land: 40px;
  $container-width: calc($content-width + $container-land * 2);

  // colors
  $black-color: #000;
  $gray-color: #454654;
  $red-color: #EB3F57;
  $white-color: #F5F5FA;

  // Gradients
  $red-brown-start: #E83F57;
  $red-brown-end: #8C3945;


  $red-purple-start: #DE3C5D;
  $red-purple-end: #110943;

